/* Importar tipografía externa */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Estilo general */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

/* Estilos de las noticias */
.noticia-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ajusta según el tamaño */
    gap: 20px; /* Espacio entre bloques */
    padding: 20px;
}

.noticia {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column; /* Organiza los elementos verticalmente */
    align-items: center; /* Centra los elementos */
    border-radius: 8px; /* Bordes redondeados */
    overflow: hidden; /* Evita que se desborden los elementos */
}

.noticia:hover {
    background-color: black;
    color: white;
    transform: scale(1.05); /* Efecto de crecimiento al pasar el mouse */
}

.noticia img {
    width: 100%; /* Que ocupe todo el ancho del bloque */
    height: auto; /* Mantiene la proporción sin deformar */
    object-fit: cover; /* Ajusta la imagen al contenedor */
    border-radius: 8px; /* Bordes redondeados para una mejor estética */
}

.noticia video {
    width: 100%; /* Hace que el video ocupe todo el ancho del bloque */
    height: auto; /* Ajusta la altura proporcionalmente */
    border-radius: 8px; /* Bordes redondeados para mejorar el diseño */
    display: block; /* Evita espacios innecesarios */
}

.noticia audio {
    width: 100%; /* Hace que el video ocupe todo el ancho del bloque */
    height: auto; /* Ajusta la altura proporcionalmente */
    border-radius: 8px; /* Bordes redondeados para mejorar el diseño */
    display: block; /* Evita espacios innecesarios */
}

/* Diseño en grilla */
main {
    display: grid;
    grid-template-columns: 1fr; /* Una sola columna */
    gap: 20px; /* Espaciado entre las secciones */
    display: flex;
    flex-direction: column; /* Secciones en columna, una debajo de otra */
    gap: 20px;
}

/* Estilos en el Footer */
footer {
    background-color: #c9d2d0;
    color: #31231e;
}

/* Estilos en Hipervínculos */
nav a:hover {
    font-weight: bold;
    text-decoration: none;
}

/* Responsividad: Ajustes para pantallas pequeñas */
@media screen and (max-width: 600px) {
    main {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 600px) {
    .noticia-container {
        grid-template-columns: 1fr;
    }
}